body{
	padding: 5px 5px 5px 5px;
	/* Background from http://mudcu.be/bg/ */
	background: ##00aa77;
	background-image: url("../img/ZenBG-1.png"), url("../img/ZenBG-2.png");
	background-repeat: repeat-x, repeat;
}

#device {
	/* Give the page a iPad structure */
	background-color: #000;
	border-radius: 25px;
	padding: 25px 50px 25px 50px;
	width: 1280px;
	height: 760px;

	/* Shadow and border to improve the ipad look */
	box-shadow: 8px 8px 5px #111;
	border-style:outset;
	border-width:3px;
	border-color: #EEF;

	/* Align */
	margin:auto;
 	position:absolute;
 	top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
 	left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
}

#screen {
	background-color: #FFF; 
	width: 100%;
	height: 100%;
}

#navbar {
	border-radius: 0 !important;
  	-moz-border-radius: 0 !important;
}

#content {
	padding: 5px 10px 5px 10px;
}

#map{
	width:600px;
	height:600px;
}